.page-header {
    background-color: #BDB76B;
}

.header-wrapper {
    height: 60px;
    display: flex;

    align-items: center;

    @media screen and (min-width: 768px) {
        height: 80px;
        align-items: center;
    }
}