.hero {

    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    // Mobile screen
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image:
        url(../images/1.jpeg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/1.jpeg);
    }

    // Tab screen

    @media screen and (min-width: 768px) {
        background-image:
            url(../images/1.jpeg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/1.jpeg);
        }
    }

    // Desktop screen 
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image:
            url(../images/1.jpeg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/1.jpeg);
        }
    }
}

.hero__title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;


    @media screen and (min-width: 1200px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__button {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
    background-color: white;
    color: black;
}

.hero__link {
    text-decoration: none;
}